nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 25px;
     background-color: #163c2e;
  border-bottom: 1px solid #c3c8d4;

}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.h1{
    font-size: 28px;
    font-weight: 800;
    /* line-height: 36px; */
     color: #fff;
     cursor: pointer;
     span{
        color: #F2A93B;
        cursor: pointer;

     }
}
.searchbar {
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #F8FAF9;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  overflow: hidden;
}

.searchbar input {
  width: 100%;
  padding: 10px 14px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #17221B;
}

.searchbar input::placeholder {
  color: #9CA3AF;
}

.search {
  padding: 10px 14px;
  border: none;
  background-color: #F2A93B;;
 color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search:hover {
  background-color:#D98E1F;
}
.cart{
    display: flex;
    
    align-items: center; 
    gap: 20px;  
}
.iconCart{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
  
.btnn{
 display: flex;
 align-items: center;
 gap: 8px;
 cursor: pointer;
 color: #bccbac;
 background-color: transparent;
 border: none;
  


}
.circle{
    border-radius: 50%;
    padding: 2px 6px; 
    background-color: #F2A93B;
    color: #000;
    cursor: pointer;
    
}
.cart{
  cursor: pointer;
}
.p{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}